* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  body {
    background-color: #eef9bf;
  }
  
  header {
    width: 100%;
    height: 140px;
  
    display: flex;
    align-items: center;
  
    text-align: center;
  }
  
  .top {
    width: 100%;
  
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
  
    color: #75b79e;
  }
  
  .top-mobile {
    display: none;
  }
  
  .mesa {
    margin: auto;
    width: 100%;
    max-width: 55%;
    height: 100%;
  
    display: flex;
    justify-content: center;
  
    flex-wrap: wrap;
  }
  
  img {
    width: 100px;
    height: 100px;
  }
  
  div {
    width: 100%;
    height: 100%;
  }
  
  .card {
    margin: 20px;
    width: 120px;
    height: 150px;
  
    perspective: 800px;
  
    cursor: pointer;
  
    position: relative;
  }
  
  .face {
    width: 100%;
    height: 100%;
  
    background-color: #a7e9af;
  
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: all 1s;
  
    transform-style: preserve-3d;
  
    backface-visibility: hidden;
  }
  
  .face:hover {
    bottom: 2px;
    left: 2px;
  }
  
  .back-face {
    transform: rotateY(180deg);
  }
  
  .card .back-face.flip {
    transform: rotateY(0deg);
  }
  
  .card .front-face.flip {
    transform: rotateY(-180deg);
  }
  
  .not-selected {
    pointer-events: none;
  }
  
  .timer {
    width: auto;
    height: auto;
  
    display: flex;
    justify-content: flex-end;
  
    background-color: #75b79e;
    color: #eef9bf;
  
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1;
  }
  
  .counter {
    padding: 5px;
    background-color: #75b79e;
    color: #eef9bf;
  }
  
  .seconds {
    padding: 5px;
  }
  
  @media (max-width: 614px) {
    header {
      height: 250px;
  
      justify-content: center;
    }
  
    .board {
      max-width: 80%;
    }
  
    .top {
      display: none;
    }
  
    .top-mobile {
      display: contents;
  
      font-size: 36px;
      line-height: 42px;
      letter-spacing: -0.004em;
  
      color: #75b79e;
    }
  }
  